<%- include("../partials/header.ejs")%>

<% if(error){ %>
    <h1><%= error %></h1>
    <% } %>

<form action="/resetPassword" method="post">
    <label for="email">email</label>
    <input name="email" type="text">
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <button class="btn" type="submit">Reset</button>

</form>




<%- include("../partials/end.ejs") %>
