<%- include("../partials/header.ejs")%>


<form class="shop-form" action="/signup" method="post">

    <% if(error){ %>
    <h1><%= error %></h1>
    <% } %>

     <div class="form-item">
    <label for="email">email</label>
    <input name="email" type="text" required>
    </div>
     <div class="form-item">
    <label for="password">password</label>
    <input required name="password" type="password">
    </div>
     <div class="form-item">
    <label for="password">confirm password</label>
    <input required type="password" name="confirmPassword">
    </div>
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <button class="btn" type="submit">sign up</button>

</form>




<%- include("../partials/end.ejs") %>
