<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Styles/Style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>

      <% console.log(userType); %>
      <ul>
        <a href="/"> shop</a>
        <a href="/products">products</a>
  
        <a href="/cart">cart</a>
        <a href="/orders">orders</a>
          <% if(userType == "admin") {%>
        <a href="/Admin/addProduct">Add product</a>
        <a href="/Admin/products">Admin products</a>
        <% } %>
        
      </ul>

      <ul>
        <% if(!isloggedIn){ %>
        <a href="/login">Login</a>
        <a href="/signup">signup</a>
        <% } %>
        
        <% if(isloggedIn){ %>
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <button class="btn" type="submit">Logout</button>
        </form>
        <% } %>
      </ul>

    </nav>

